

<c-base title="login">
    <div class="h-screen grid place-content-center bg-base-200">
        <div>
            <h1 class="text-3xl font-bold text-primary">DotScholar</h1>
            <div class="card bg-base-100">
                <div class="card-body">
                    <h1 class="card-title">Login</h1>
                    <form method="post">
                        {% csrf_token %}
                        <fieldset class="fieldset">
                            <legend class="fieldset-legend">Email</legend>
                            <input type="email" class="input" placeholder="" />
                            <p class="label text-error"></p>
                        </fieldset>
                        <fieldset class="fieldset">
                            <legend class="fieldset-legend">Password</legend>
                            <input type="password" class="input" placeholder="" />
                            <p class="label text-error"></p>
                        </fieldset>
                        <a href="" class="text-secondary">Forgot Password?</a>
                        <button class="btn btn-primary w-full">
                            Login
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</c-base>
