<c-base title="Onboarding" class="onboarding">
    <div x-data="onboardingForm()" class="onboarding-form">
        
        <form @submit.prevent="submitForm">
            <div class="card bg-base-100">
                <div class="card-body">
                    <h2 class="text-xl font-medium">User Information</h2>
                    <p class="mb-4">This will be the default user that is the school admin and owner.</p>
                    
                    <fieldset class="fieldset">
                        <legend class="fieldset-legend">Email</legend>
                        <input type="email" id="email" class="input" x-model="formData.user.email" required>
                        <p class="label">Enter your work email</p>
                    </fieldset>
                    <fieldset class="fieldset">
                        <legend class="fieldset-legend">First Name</legend>
                        <input type="text" id="first_name" class="input" x-model="formData.user.first_name" required>
                        <p class="label">Your first name as it appears on official documents.</p>
                    </fieldset>
                    <fieldset class="fieldset">
                        <legend class="fieldset-legend">Last Name</legend>
                        <input type="text" id="last_name" class="input" x-model="formData.user.last_name" required>
                        <p class="label">Your last name as it appears on official documents.</p>
                    </fieldset>
                    <fieldset class="fieldset">
                        <legend class="fieldset-legend">Password</legend>
                        <input type="password" id="password" class="input" x-model="formData.user.password" required>
                        <p class="label">Choose a secure password.</p>
                    </fieldset>
                    <fieldset class="fieldset">
                        <legend class="fieldset-legend">Confirm Password</legend>
                        <input type="password" id="password_confirm" class="input" x-model="formData.user.password_confirm" required>
                        <p class="label">Re-enter your password for confirmation.</p>
                    </fieldset>
                </div>
            </div>

            <div class="card bg-base-100">
                <div class="card-body">
                    <h2 class="text-xl font-medium mb-4">School Information</h2>
                    <fieldset class="fieldset">
                        <legend class="fieldset-legend">School Name</legend>
                        <input type="text" id="school_name" class="input" x-model="formData.school.name" required>
                        <p class="label">The name of your school or institution.</p>
                    </fieldset>
                    <fieldset class="fieldset">
                        <legend class="fieldset-legend">Short Name</legend>
                        <input type="text" id="school_short_name" class="input" x-model="formData.school.short_name" required>
                        <p class="label">Enter a short hand name for the school.</p>
                    </fieldset>
                </div>
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div x-show="loading" class="fixed inset-0 grid place-content-center bg-base-100 bg-opacity-50">
            <span class="loading loading-infinity loading-xl"></span>
        </div>
    </div>

    <script>
        function onboardingForm() {
            return {
                formData: {
                    user: {
                        username: '',
                        email: '',
                        first_name: '',
                        last_name: '',
                        password: '',
                        password_confirm: ''
                    },
                    school: {
                        name: '',
                        short_name: ''
                    }
                },
                loading: false,
                async submitForm() {
                    // Validate passwords match
                    if (this.formData.password !== this.formData.password_confirm) {
                        alert('Passwords do not match.');
                        return;
                    }
                    this.loading = true;

                    const response = await POST(`{% url 'api:onboarding' %}`, this.formData, true)

                    if (response.ok) {
                        window.location.href = '{% url "accounts:login" %}';
                        return;
                    }
                    const errorData = await response.json();
                    this.loading = false;
                    console.error('Error:', errorData);
                    alert('An error occurred: ' + (errorData.detail || 'Please try again later.'));
                }
            };
        }
    </script>
</c-base>