<div x-data="{
    open: false,
    findActiveStatus(element, equal=false){
        
        let path = window.location.pathname;
        let url = element.getAttribute('href');

        const details = element.parentElement.parentElement.parentElement;

        if (path.startsWith(url) && !equal || equal && path === url) {
            {% comment %} set the details open attribute to true {% endcomment %}
            details.setAttribute('open', true)
            return true
        }
        
        {% comment %} set the details open attribute to false {% endcomment %}
        return false
    },
}" class="grid">
    <aside class="w-56 bg-white p-4 shadow">
        <h2 class="text-xl font-bold mb-6">
            {{ request.user.get_school.short_name }}
        </h2>
        <ul class="menu w-full p-0 -ml-2">
            {% for group in permitted_menu %}
                <li>
                    <details>
                        <summary class="font-semibold opacity-60">
                            <span>{{ group.title }}</span>
                        </summary>
                        <ul>
                            {% for link in group.links %}
                                <li>
                                    <a href="{% url link.url %}" 
                                        :class="findActiveStatus($el{% if link.equalsParam %}, true{% endif %}) ? 'text-primary bg-primary-content font-bold' : ''">
                                        {% if link.icon %}
                                        <i class="{{ link.icon }}"></i>
                                        {% else %}
                                        <i class="icon-dot"></i>
                                        {% endif %}
                                        {{ link.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </details>
                </li>
            {% endfor %}
        </ul>
    </aside>
</div>
