<c-management title="Classes & Streams">

	<div class="" x-data="classPageData">
		<div class="flex justify-between">
			<ul class="menu menu-horizontal bg-base-100 rounded-box">
				{% for class in classes %}
				<li>
					<button
						type="button"
						@click="step = {{ forloop.counter }}"
						:class="{ 'bg-primary text-primary-content': step == {{ forloop.counter }} }">
						{{ class.get_name }}
					</button>
				</li>
				{% endfor %}
			</ul>
		</div>

		<div class="content">
			{% for class in classes %}
			<div x-show="step === {{ forloop.counter }}" x-cloak class="flex">
				<div class="grid gap-4">
					<h2 class="font-semibold text-lg opacity-80 mt-4">Streams</h2>
					<div id="streams-{{ forloop.counter }}" x-merge="append" class="grid gap-4">
						{% for stream in class.school_streams %}
						{% include 'management/fragments/stream-card.html' %}
						{% endfor %}
					</div>

					<div class="drawer drawer-end">
						<input
							id="stream-drawer-{{ forloop.counter }}"
							type="checkbox"
							class="drawer-toggle" />
						<div class="drawer-content">
							<label
								for="stream-drawer-{{ forloop.counter }}"
								class="drawer-button btn btn-primary"
								>Add a stream</label
							>
						</div>
						<div class="drawer-side">
							<label
								for="stream-drawer-{{ forloop.counter }}"
								aria-label="close sidebar"
								class="drawer-overlay"></label>
							<div class="bg-base-100 h-full p-4 w-96 overflow-y-auto">
								<form method="post" x-target="streams-{{ forloop.counter }}"
									@xsubmit="handleAddStream($event, {{ forloop.counter }})">
									{% csrf_token %}
									<input
										type="text"
										class="hidden"
										value="{{ class.pk }}"
										name="class_pk" />
									<!-- Page content here -->
									<fieldset class="fieldset">
										<legend class="fieldset-legend">Stream name?</legend>
										<label class="input">
											<span class="opacity-60">{{ class.get_name }}</span>
											<input
												type="text"
												class="grow"
												placeholder="Arts"
												name="name" />
										</label>
									</fieldset>
									<fieldset class="fieldset">
										<legend class="fieldset-legend">Class Teacher</legend>
										<select class="select" name="class_teacher">
											<option disabled selected>Pick a teacher</option>
											{% for teacher in teachers %}
											<option value="{{ teacher.pk }}">{{ teacher.get_full_name }}</option>
											{% endfor %}
										</select>
										<span class="label">Optional</span>
									</fieldset>
									<button class="btn btn-primary w-full mt-4">
										Add Stream
										<span class="icon-plus"></span>
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			{% endfor %}
		</div>

		<div class="fixed inset-0 bg-base-100/50 grid place-content-center" x-show="loading">
            <span class="loading loading-infinity loading-xl"></span>
        </div>
	</div>

	<script>
		const classPageData = {
			step: 1,
                loading: false,
                teachers: [],

                async fetchTeachers() {
                    const response = await GET('{% url 'api:teachers-list' %}', true);
                    if (!response.status) {
						console.log(response)
						console.error('Error fetching teachers:', response.statusText);
                        return;
                    }
                    this.teachers = await response.json();
					console.log(this.teachers)
                },
                async init() {
                    await this.fetchTeachers();
                },

                async handleAddStream(event, counter) {
                    event.preventDefault();
                    this.loading = true;
                    const formData = new FormData(event.target);
                    let stream = {
                        name: formData.get('name'),
                        current_class: formData.get('class_pk'),
                        class_teacher: formData.get('class_teacher') || null
                    };

					console.log(stream)

                    const response = await POST('{% url 'api:stream-create' %}', stream, true);

                    if (!response.ok){
                        {% comment %} log the error and also alert the error {% endcomment %}
                        const error = await response.json();
                        console.error('Error adding stream:', error);
                        alert('Error adding stream: ' + error.message);
                        this.loading = false;
                        return;
                    }
                    const data = await response.json();

                    this.createStreamHtml(data, counter);
                    event.target.reset();
                    const drawer = document.getElementById(`stream-drawer-${counter}`);
                    drawer.checked = false; // Close the drawer

                    this.loading = false;

                },
                createStreamHtml(stream, counter) {
                    let card = document.createElement('div');
                    card.className = 'card bg-base-100 shadow-sm';
                    card.innerHTML = `
                        <div class="card-body">
                            <span class="badge badge-xs ${stream.level == 'O' ? 'badge-neutral' : 'badge-info'}"></span>
                            <div class="flex justify-between">
                                <h3 class="text-3xl font-bold">${stream.name}</h3>
                            </div>
                            <ul class="mt-6 flex flex-col gap-2 text-xs">
                                <li>
                                    <span class="icon-users"></span>
                                    <span>${stream.enrollments_count} students</span>
                                </li>
                            </ul>
                        </div>
                    `;
                    document.getElementById(`streams-${counter}`).appendChild(card);
                }
		}
	</script>
</c-management>
