<c-management title="Subjects setup">
    <div x-data="subjectsData" class="grid gap-4 pb-4">
        {% comment %} list all the school subjects each with the papers it has, using daisy ui
        components {% endcomment %}
        <div class="actions sticky top-0" aria-label="actions">
            <div class="flex justify-between">
                <div class="flex gap-4 items-center">
                    <div role="tablist" class="tabs tabs-box">
                        <button type="button" role="tab" class="tab" :class="show_level == 'O' ? 'tab-active' : ''" @click="show_level = 'O'">
                            O Level
                        </button>
                        <button type="button" role="tab" class="tab" :class="show_level == 'A' ? 'tab-active' : ''" @click="show_level = 'A'">
                            A Level
                        </button>
                    </div>
                    <label>
                        <input type="checkbox" class="checkbox" x-model="show_unregistered_papers" />
                        <span>Unregistered Papers</span>
                    </label>
                </div>
                <button type="button" @click="submit()" class="btn btn-primary">
                    <span class="icon-save"></span>
                    Save
                </button>
            </div>
        </div>
        <div class="grid gap-4 flex-1">
            <table class="table bg-base-100">
                <thead>
                    <tr>
                        <th>
                            {% comment %} <label>
                                <input type="checkbox" class="checkbox" />
                            </label> {% endcomment %}
                        </th>
                        <th>Subject</th>
                        <th>Code</th>
                        <th>Paper</th>
                        <th></th>
                    </tr>
                </thead>
                <template x-for="subject in all_subjects">
                    <template x-for="paper in subject.papers">
                        <tr x-show="show_level == subject.level && (registered_papers.includes(paper.id) || show_unregistered_papers)" x-cloak>
                            <td>
                                <label>
                                    <input type="checkbox" class="checkbox" x-model="paper.is_selected"
                                        @change="togglePaper(paper)" />
                                </label>
                            </td>
                            <td x-text="subject.name"></td>
                            <td>
                                <span x-text="subject.code"></span>
                                <span>/</span>
                                <span x-text="paper.number"></span>
                            </td>
                            <td x-text="paper.name || `Paper ${paper.number}`"></td>
                            <td>
                                <label>
                                    <input type="checkbox" class="checkbox" x-model="paper.is_compulsory" />
                                    <span>Compulsory</span>
                                </label>
                            </td>
                        </tr>
                    </template>
                </template>
            </table>
        </div>
        <div class="fixed inset-0 bg-base-100/50 grid place-content-center" x-show="loading">
            <span class="loading loading-infinity loading-xl"></span>
        </div>
    </div>

    <script>
        const subjectsData = {
            loading: false,
            show_level: 'O',
            show_unregistered_papers: false,

            registered_papers: [],
            all_subjects: [],
            papers_to_add: [],
            papers_to_remove: [],

            togglePaper(paper) {
                if (paper.is_selected && this.papers_to_remove.includes(paper)) {
                    this.papers_to_remove.splice(this.papers_to_remove.indexOf(paper), 1)
                } 
                else if (!paper.is_selected && this.registered_papers.includes(paper.id)) {
                    this.papers_to_remove.push(paper)
                    paper.is_compulsory = false
                }
                else if (!paper.is_selected && !this.registered_papers.includes(paper.id)) {
                    paper.is_compulsory = false
                }
            },

            isPaperShown(paper){
                if (this.registered_papers.includes(paper.id)) {
                    return true
                }
                return show_unregistered_papers
            },

            async submit() {
                // return this kind of data [{"paper_id": 0,"is_compulsory": true},..]
                this.loading = true
                this.papers_to_add = this.all_subjects.flatMap((subject) => {
                    return subject.papers.filter((paper) => {
                        return paper.is_selected
                    }).map((paper) => {
                        return {
                            paper_id: paper.id,
                            is_compulsory: paper.is_compulsory
                        }
                    })
                })
                
                const response = await POST("{% url 'api:manage_school_papers' %}", this.papers_to_add, true)

                if (!response.ok){
                    const error = await response.json();
                    console.error('Error adding stream:', error);
                    alert('Error adding stream: ' + error.message);
                    return;
                }

                let new_registered_papers = []

                this.papers_to_add.forEach((paper) => {
                    new_registered_papers.push(paper.paper_id)
                })

                this.registered_papers = new_registered_papers

                this.loading = false
            },

            async init() {
                const registered_papers = await GET("{% url 'api:get_school_papers' %}")
                this.all_subjects = await GET("{% url 'api:all_subjects' %}")
                this.all_subjects.forEach((subject) => {
                    subject.papers.forEach((paper) => {
                        paper.is_compulsory = registered_papers.some(
                            (item) => item.paper_id == paper.id && item.is_compulsory
                        )
                        paper.is_selected = registered_papers.some((item) => item.paper_id == paper.id)
                        paper.remove = false
                    })
                })
                registered_papers.forEach((item) => {
                    this.registered_papers.push(item.paper_id)
                })
            },
        }
    </script>
</c-management>